<html>
    <head>
        <link href="/public/stylesheets/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <form class="well span8" method="POST", action="/addtask">
                <div class="row">
                    <div class="span3">
                        <label>First Name</label> <input class="span3" placeholder=
                        "Task Name" type="text" name="taskname"> <label>Last Name</label>
                        <input class="span3" placeholder="Task Description" type="text" name="taskdesc">
                    </div>
            
                    <button class="btn btn-primary pull-right" type=
                    "submit">Send</button>
                </div>
            </form>
        </div>
    </body>
</html>